.header-main {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.header-left-side {
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}